$team-boxshadow-color: $font-color;
$team-link-color: $primary-color;
$team-background-icons: $global-background;

.ct-component-team {
  .ct-component-header {
    padding-bottom: 0.75rem;
  }
}

.ct-card-team {
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba($team-boxshadow-color, 0.2);
  padding: 1.875rem 0;

  .ct-card-header,
  .ct-card-team-function,
  .ct-card-team-email,
  .ct-card-team-phone {
    margin: 0 1.875rem;
  }

  .ct-card-content {
    font-size: 0.875rem;
    line-height: 1.4375rem;
    font-weight: 200;
  }

  .ct-card-team-image-wrapper {
    text-align: center;
  }

  .ct-card-team-icons-wrapper,
  .ct-card-team-socialmedia-wrapper {
    color: $team-link-color;
    margin-right: 1.375rem;
    margin-bottom: 1.25rem;

    .ct-card-team-icons-image {
      background-color: $team-background-icons;
      padding: 1.125rem;
    }
  }

  .ct-card-team-function,
  .ct-card-team-email {
    padding-bottom: 3px;
  }

  .ct-card-team-email,
  .ct-card-team-phone {
    color: $team-link-color;
  }
}
