.ct-component-accordion {
  font-size: 1.1875rem;
  line-height: 2.25rem;

  .uk-accordion > li {
    margin-top: 0;
    padding: 2rem;
    border: 1px solid $medium-gray;

    &:nth-of-type(even) {
      border-top: 0;
    }

}

